* {
    box-sizing: border-box;
    font-family: "微軟正黑體";
}


body {
    margin: 0 auto;
    max-width: 1920px;
    background-color: #1d1d1d;
}

.nav_fix {
    position: fixed;
    padding: 0 20px;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 99;
    background-image: linear-gradient(#000000 0%, rgba(26, 35, 51, 0));
}

.nav_fix_display {
    position: fixed;
    padding: 0 20px;
    width: 100%;
    top: 0px;
    left: 0px;
    display: none;
}



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0px;
}


.nav_logo {
    float: left;

}


.nav_item {

    display: flex;
    justify-content: flex-end;
    -webkit-writing-mode: vertical-lr;
    /*字直式排*/
    writing-mode: vertical-lr;
    flex-direction: column;
    flex-wrap: wrap;
    float: right;

}


.nav_item a {
    margin-right: 20px;
    text-decoration: none;
    color: white;
    font-family: '微軟正黑體';
}

.nav_close{
    width: 100%;
    height: 100%;
}


.mobile_menu_item {
    display: none;
    background-color: #1a2333;
    position: fixed;
    top: 52px;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 98;

}

.mobile_menu_item.show {
    display: block;
 
 }

.list_style{
    margin-left: auto;
    margin-right: auto;
     /*字直式排*/
     -webkit-writing-mode: vertical-lr;
     writing-mode: vertical-lr; 
    flex-direction: column;
    flex-wrap: wrap;
   
    
} 


.mobile_menu_item a {
    color: white;
    text-decoration: none;
    padding: 0 15px;
    display: block;
   

}

.banner {
    margin: 0 auto;

}


.banner_bg1 img {
    width: auto;
    height: auto;
    width: 100%;
    height: 100%;

}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    background-image: url('/pic/all_next_btn-02.png');
    right: 10px;
    left: auto;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    background-image: url('/pic/all_prev_btn-02.png');
    left: 10px;
    right: auto;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #ffffff;
}

.swiper-pagination-bullet-active-next {
    opacity: 1;
    background:rgb(235, 176, 103);
}

.swiper-pagination-bullet-active-next-next {
    opacity: 1;
    background:rgb(235, 176, 103);
}

.swiper-pagination-bullet-active-prev {
    opacity: 1;
    background:rgb(235, 176, 103);
}

.swiper-pagination-bullet-active-prev-prev {
    opacity: 1;
    background:rgb(235, 176, 103);
}



.content_bg {
    background-image: url("/pic/feature_bg.png");
    background-size: cover;

}

.content_height {
    padding: 150px 0;
}

.feature_title {
    position: absolute;
    left: 50%;
    top: 8%;
    transform: translateX(-50%);

}

.feature_title h1 {
    font-weight: bold;
    font-family: '微軟正黑體';
    color: rgb(235, 176, 103);
}


.card_style {
    border: none;
}

.font_style {
    font-weight: bold;
    font-family: "微軟正黑體";
    color: rgb(41, 41, 41);
}

.card-text {
    font-family: "微軟正黑體";

}


.container_bg {
    background-image: url("/pic/about_bg-02.png");
    background-size: cover;
}

.container_flex {
    display: flex;
    justify-content: space-around;

    position: relative;
}

.content_padding {
    padding: 5% 0;
    background-color: white;
}

.text h1 {
    font-weight: bold;
    font-family: "微軟正黑體";
    padding: 150 0 0 50px;
}

.text p {
    max-width: 350px;
    font-family: "微軟正黑體"
}

.videoWrapper {
    z-index: 1;
    width: 350px;
    height: 450px;
    position: absolute;
    top: 150px;
    left: 700px;
}


.price_title{
    padding: 75px 0px 50px 0px;
}

.price_title h1 {
    font-weight: bold;
    font-family: '微軟正黑體';
    color: rgb(235, 176, 103);
    text-align: center;
}

.price_align{
    text-align: center;
}

.counter-value{
    font-weight: bold;
    font-size: 36px;
    color: rgb(185, 125, 51);
}

.price_align p{
    color:aliceblue;
    padding: 30px 0px 75px 0px;
}

.locate_title{
    padding: 75px 0px 50px 0px;
}

.locate_title h1 {
    font-weight: bold;
    font-family: '微軟正黑體';
    color: rgb(235, 176, 103);
    text-align: center;
}

.map{
    width: 100%;
    height: 250px;
}

.map_padding{
    padding-bottom: 30px;
}

.min_store h3{
    color: #ffffff;
    padding-bottom: 20px;
}

.min_store p{
    color: #ffffff;
    padding-bottom: 5px;
    margin: 0;
}

.map_attention{
    color: #a9adb2;
    font-weight: bold;
    margin: 50px 0px 0px 15px;
}

.locate_padding{
    padding-bottom: 100px;
}

.QA_padding{
    padding-bottom: 30px;
}

.QA_box{
    padding: 20px 0;
}

.QA_list p{
    color: #fff;
    font-weight: bold;
}

.QA_p_flex{
    display: flex;
    flex-direction:row;
}

.radio_btn{
    padding-top: 40px;
}

.radio_text{
    color: #fff;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.radio_text_padding{
    padding-left: 10px;
}

.col_footer_paddig{
    padding-top: 75px;
}

.footer_col_imgflex{
    display: flex;
    justify-content: flex-end;
}

.fb_style{
    width: 50px;
}

.footer_title{
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.footer_title h4{
color: #a9adb2;
}

.footer_copyright{
    padding: 15px 0px ;
    color: #a9adb2;
}

.footer_copyright p{
    margin-bottom: 0px;
}


.clearfix {
    clear: both;
}

@media screen and (min-width:702px) {
    .show {
        display: none;
    }

    .mobile_nav {
        display: none;
    }

}


@media screen and (max-width:702px) {
    
    .nav_fix {
    display: none;
    }

    
    .mobile_nav {
        display: block;
       position: fixed;
        width: 100%;
        background-color: #1a2333;
        z-index: 99;
    }
   
    .mobile_nav_menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 30px;
        color: #fff;
        
    }

    .feature_title {
        position: absolute;
        left: 50%;
        top: 3%;
        padding: 5% 0;
        transform: translateX(-50%);
    }

    .feature_title h1 {
        font-weight: bold;
        font-family: "微軟正黑體";
        font-size: 26px;


    }

    .swiper_padding{
        padding-top: 51px;
    }

    .videoWrapper {
        z-index: 1;
        width: 350px;
        height: 450px;
        position: absolute;
        top: 0px;
        left: 0px;
    }

    .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
       display: none;
    }
    
    .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
        display: none;
    }

    .content_height {
        padding: 150px 0px 30px 0px;
    }

    .card_padding{
        padding-bottom: 30px; 
    }

    .price_title h1{
        font-weight: bold;
        font-family: "微軟正黑體";
        font-size: 26px;

    }

    .price_align p{
        color:aliceblue;
        padding: 15px 0px 50px 0px;
    }

    .locate_title {
        padding: 50px 0px 50px 0px;
    }

    .locate_title h1{
        font-weight: bold;
        font-family: "微軟正黑體";
        font-size: 26px;

    }  

    .map_padding{
        padding-bottom: 20px;
    }

    .locate_mobile_center{
        text-align: center;
        padding-bottom: 40px;
    }

    .locate_mobile_center h3{
        padding-bottom: 0px;
    }

    .map_attention{
        margin-top: 25px;
    }

    .footer_col_imgflex{
        display: none;
    }

}